<!DOCTYPE html>
<html lang="en" charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>问题解答</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#res-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong>AlphaOJ</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="res-nav">
                <form action="" class="navbar-form navbar-left">
                    <label>
                        <input type="text" placeholder="输入搜索内容" class="form-control">
                    </label>
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a th:text="${session.user}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br><br><br>


    <form action="/judge" method="post" class="form-horizontal col-md-offset-3 col-md-10">
        <label>题目描述：</label>
        <label th:text="${questionInfo.question}" th:href="@{'/oj/'+${questionInfo.id}}" cols="100" rows="16"></label>
        <br><br>
        <input type="hidden" name="id" th:value="${questionInfo.id}">
        <textarea name="content" cols="100" rows="20" th:utext="${questionInfo.pattern}">
        </textarea><br>
        <button type="submit" class="btn btn-default login ">点此提交</button>
        <a th:href="@{'/problemList'}"><button type=button class="btn btn-default login ">返回列表</button></a>
    </form>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>