<!DOCTYPE html>
<html lang="en" charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>答题历史</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#res-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong>AlphaOJ</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="res-nav">
                <form action="" class="navbar-form navbar-left">
                    <label>
                        <input type="text" placeholder="输入搜索内容" class="form-control">
                    </label>
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <!--            <div th:include="header::#head2"></div>-->
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a th:text="${session.user}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="container" align="center">
        <br><br><br><br><br>
        <a th:href="@{'/problemList'}"><button type=button class="btn btn-default login ">返回列表</button></a>
        <a th:href="@{'/quit'}"><button type=button class="btn btn-default login ">退出登录</button></a>
        <div>
            <table class="table">
                <caption></caption>
                <thead>
                <tr>
                    <th>题目</th>
                    <th>提交时间</th>
                    <th>结果</th>
                    <th>信息</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="answer:${answers}">
                    <td th:utext="${answer.commitTime}"></td>
                    <td th:utext="${answer.question}"></td>
                    <td th:if="${answer.isRight >=1}"><font color="green">Accept</font></td>
                    <td th:if="${answer.isRight <=0}"><font color="red">Failed</font></td>
                    <td th:utext="${answer.msg}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{'/problemList'}"><button type=button class="btn btn-default login ">返回列表</button></a>
        <a th:href="@{'/quit'}"><button type=button class="btn btn-default login ">退出登录</button></a>
    </div>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>